<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-10">
            <div class="title">
                Contact
            </div>
            <span class="pls">
                Looking forward to hearing from you
            </span>

            <div class="num minicon">
                <div class="smalltitle">
                    Phone
                </div>
                <div class="discription">
                    <a href="tel:+919408379221">9408379221</a>
                </div>
            </div>

            <div class="email minicon">
                <div class="smalltitle">
                    Email
                </div>
                <div class="discription">
                    <a href="mailto:kofworld85@gmail.com">kofworld85@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
</div>
