<div id="footer">
    <hr class="hr">
    <nav class="nav nav-pills nav-justified">
        <span class="nav-item"><b>Phone</b><br><a href="tel:+919408379221">9408379221</a></span>
        <span class="nav-item"><b>Email</b><br><a href="mailto:kofworld85@gmail.com">kofworld85@gmail.com</a></span>
        <span class="nav-item"><b>Follow Me</b><br>
            <a href="https://www.linkedin.com/in/harish-kaumawat-2003/" target="_blank"><i class="bi bi-linkedin"></i></a>&nbsp;
            <a href="https://www.instagram.com/harixh.kumawat/" target="_blank"><i class="bi bi-instagram insta" id="cch"></i></a>
        </span>
        <span class="nav-item">&COPY; 2022 By Deep Shah(footer onlly). <br>Proudly created with Angular!</span>
    </nav>
</div>