<div class="heading">
    Resume
</div>

<div class="container bigc">
    <div class="row justify-content-center">
        <div class="col-lg-4 title">
            Work <br>Experience
        </div>

        <div class="col-lg-6">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 timeline">
                        2020-Present
                    </div>
                    <div class="col-lg-5">
                        <div class="smalltitle">
                            Editor
                        </div>
                        <div class="discription">
                            Idk something in future
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="container bigc">
    <div class="row justify-content-center">
        <div class="col-lg-4 title">
            Education
        </div>

        <div class="col-lg-6">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 timeline">
                        Jul 2021 - Jul 2024
                    </div>
                    <div class="col-lg-7">
                        <div class="smalltitle">
                            GLS University
                        </div>
                        <div class="discription">
                            Bachelors's in Computer Application
                        </div>
                    </div>
                </div>

                <div class="row under1">
                    <div class="col-lg-3 timeline">
                        2019 - 2021
                    </div>
                    <div class="col-lg-7">
                        <div class="smalltitle">
                            Nutan vidhya vihar higher secondary school
                        </div>
                        <div class="discription">
                            Business/Commerce, General (11th and 12th)
                        </div>
                    </div>
                </div>

                <div class="row under1">
                    <div class="col-lg-3 timeline">
                        2014 - 2019
                    </div>
                    <div class="col-lg-8">
                        <div class="smalltitle">
                            Nalanda Vidyalay, Ghatlodia
                        </div>
                        <div class="discription">
                            GSEB 5th - 10th
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<hr>

<div class="container bigc">
    <div class="row justify-content-center">
        <div class="col-lg-4 title">
            Skills <br>& Expertise
        </div>

        <div class="col-lg-6">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-7">
                        <div class="discription">
                            <ul>
                                <li>I am good at Angular infact the websiite which you are seeing rightnow is created by me!!</li>
                                <li>Experience with c and c++</li>
                                <li>Created some fun websites with HTML, CSS and JavaScript also.</li>
                                <li>Genral knowledge about DBMS.</li>
                                <li>Experience in creating genral purpose && meme programs using python</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>