<div class="container">
  
    <div class="row">
      <div class="col-md-auto picol1">
        <div class="pic">
          <img [src]="mainpic" alt="harish_pic" class="pic img-thumbnail">
        </div>
      </div>
      
      <div class="col col2">
        <div class="text_me">
          <p class="hello">Hello</p>
          <h4>idk something in the future</h4>
        </div>
        <div class="buttons">
          <div class="buttonsg">
            <button routerLink="resume" class="btn-dark btn">Resume</button>
            <button routerLink="projects" class="btn-dark btn">Projects</button>
            <button routerLink="contact" class="btn-dark btn">Contact</button>
          </div>
        </div>
      </div>

      <div class="col-md-auto picol2">
        <div class="pic">
          <img [src]="mainpic" alt="harish_pic" class="pic img-thumbnail">
        </div>
      </div>

    </div>
  </div>